<header class="page-membres">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
					<span class="barre_nav1">
						<li> <a href="magazines.html"> LES MAGAZINES</a></li>
						<li> <a href="series.html">LES SERIES</a></li>
						<li> <a href="actualites.html">ACTUALITES</a></li>
					</span>
        <li>
          <a href="index.html" class="index-lien"><img src="images/KD.png" alt="Logo-menu-kippon-Dream" ></a>
        </li>
					<span class="barre_nav2">
					<li> <a href="membres.html">MEMBRES</a></li>
					<li> <a href="contact.html">CONTACT</a></li>
					<li> <a href="recrutement.html">RECRUTEMENT</a></li>
					</span>
      </ul>
    </div>
  </nav>
  <div class="header-bloc">
    <p>Vous l'avez voulu, le Kippon Dream l'a fait ! Découvrez chacun des membres de l'équipe avec ses quelques mots accompagnés d'un dessin autoportrait !</p>
  </div>
</header>

<section id="staff">
  <div class="container-fluid">

    <h1 class="staff">Le staff</h1>

    <div class="row">

      <div class="image-nom col-md-offset-1 col-md-2">
          <%= image_tag('membres/Brandy.png', alt: 'brandy', :class => 'membres', :id => 'brandy') %>
        <p>Brandy</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Keops.png', alt: 'keops', :class => 'membres', :id => 'keops') %>
        <p>Keops</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Kimel.png', alt: 'kimel', :class => 'membres', :id => 'kimel') %>
        <p>Kimel</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Niko.png', alt: 'niko', :class => 'membres', :id => 'niko') %>
        <p>Niko</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Twildette.png', alt: 'twildette', :class => 'membres', :id => 'twildette') %>
        <p>Twildette</p>
      </div>

    </div> <!-- row -->
  </div> <!-- container-fluid -->
</section>

<section id="auteurs">
  <div class="container-fluid member-list">

    <h1 class="barre-membres">Les auteurs</h1>

    <div class="row">
      <div class="image-nom col-md-offset-1 col-md-2">
          <%= image_tag('membres/Ataru.png', alt: 'ataru', :class => 'membres', :id => 'ataru') %>
        <p>Ataru</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Ayu.png', alt: 'ayu', :class => 'membres', :id => 'ayu') %>
        <p>Ayu</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Christ.png', alt: 'christ', :class => 'membres', :id => 'christ') %>
        <p>Christ</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Emueiichi.png', alt: 'emu eiichi', :class => 'membres', :id => 'emu') %>
        <p>Emu Eiichi</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/JulienMestre.png', alt: 'Julien Mestre', :class => 'membres', :id => 'julien') %>
        <p>Julien <br />
          Mestre</p>
      </div>

    </div> <!-- row -->

    <div class="row">
      <div class="image-nom col-md-offset-1 col-md-2">
          <%= image_tag('membres/Kowasu.png', alt: 'kowasu', :class => 'membres', :id => 'kowasu') %>
        <p>Kowasu</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Kuro.png', alt: 'kuro', :class => 'membres', :id => 'kuro') %>
        <p>Kuro</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Larryon.png', alt: 'Larryon', :class => 'membres', :id => 'larryon') %>
        <div class="modal fade" id="infos">
          <div class="modal-dialog modal-membres">
            <div class="modal-content">
            </div>
          </div>
        </div>
        <p>Larryon</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Lao.png', alt: 'Lao', :class => 'membres', :id => 'lao') %>
        <p>Lao</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Midori.png', alt: 'midiri', :class => 'membres', :id => 'midori') %>
        <p>Midori</p>
      </div>

    </div> <!-- row -->

    <div class="row">
      <div class="image-nom col-md-offset-1 col-md-2">
          <%= image_tag('membres/Oz.png', alt: 'Oz', :class => 'membres', :id => 'oz') %>
        <p>Oz</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Smaiky.png', alt: 'smaiky', :class => 'membres', :id => 'smaiky') %>
        <p>Smaiky</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/ThibaultDeboom.png', alt: 'Thibault Deboom', :class => 'membres', :id => 'thibault') %>
        <p>Thibault Deboom</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Unico.png', alt: 'unico', :class => 'membres', :id => 'unico') %>
        <p>Unico</p>
      </div>

      <div class="image-nom col-md-2">
          <%= image_tag('membres/Yumi.png', alt: 'yumi', :class => 'membres', :id => 'yumi') %>
        <p>Yumi</p>
      </div>

    </div> <!-- row -->
  </div> <!-- container-fluid -->
</section>

<!--<section id="anciens">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

      <!--<div class="image-nom">-->
        <!--<p></p>-->
      <!--</div>-->

    </div> <!-- row -->
  </div> <!-- container-fluid -->
</section>