<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>

    <%= stylesheet_link_tag 'bootstrap.min', 'application.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'sd', media: 'screen and (min-width:1200px)', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'hd', media: 'screen and (min-width:1600px)', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>


  <%= yield %>

  <footer>
    <a href="#" class="bouton_contact">Contact</a> <!-- bouton !-->
    <p> Pour plus d'informations contactez-nous directement par mail à l'adresse <%= mail_to('kippondream@gmail.com')%></p>
    <p>Retrouvez-nous également sur notre page <a href="https://www.facebook.com/KipponDream/?fref=ts">facebook</a> ou notre compte <a href="https://twitter.com/KipponDream/">twitter</a>.</p>


    <div class="mentions">
      <p>Mentions légales <br />
        Kippon Dream 2016</p>
    </div>
  </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
