<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'bootstrap.min', 'application.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'sd', media: 'screen and (min-width:992px)', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'hd', media: 'screen and (min-width:1600px)', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'tablette', media: 'screen and (min-width:768px) and (max-width:991px)', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'mobile', media: 'screen and (max-width:767px)', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'fontawesome', media: 'all', 'data-turbolinks-track' => true %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">

    <!-- SEO -->
    <meta name="geo.region" content="FR" />

    <meta name="description" content=" L'équipe du Kippon Dream vous présente le premier webzine de prépublication de manga ! Venez lire des séries francophones prometteuses ! | Kippon Dream">
    <meta name="keywords" content="assocation, bande-dessinée, prépublication, kippondream, kippon dream, manga, collectif, scan, manga francais, manga amateur, magazine">
    <meta property="og:site_name" content="Kippon Dream" />
    <meta property="og:title" content="<%= titre %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.kippondream.com/assets/background/background01.png" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="L'équipe du Kippon Dream vous présente le premier webzine de prépublication de manga ! Venez lire des séries francophones prometteuses !" >
    <meta content="kippondream@gmail.com" name="dc.creator">
    <meta content="2016" name="dc.date">

    <%= csrf_meta_tags %>
  </head>
  <body>


  <%= yield %>

  <footer>
    <div class="row">
      <div class="container-fluid">
        <div class="col-md-offset-2 col-md-2">
          <ul class="">
            <li> <%= link_to('MAGAZINES', '/magazines') %></li>
            <li> <%= link_to('SERIES', '/series') %></li>
            <li> <%= link_to('ACTUALITES', '/actu') %></li>
            <li> <%= link_to('MEMBRES', '/membres') %></li>
            <li> <%= link_to('CONTACT', '/contact') %></li>
            <li> <%= link_to('BOUTIQUE', '/boutique') %></li>
          </ul>

        </div>

        <div class="reseaux-sociaux col-md-offset-2 col-md-4">
          <p>Retrouvez-nous sur les réseaux sociaux pour avoir les dernières nouvelles, illustrations.. Promis on est pas méchants !</p>
          <div class="socialButs text-center">
            <a class="btn btn-primary" href="https://www.facebook.com/KipponDream/"><span class="fa fa-facebook fa-2x" aria-hidden="true"></span></a>
            <a class="btn btn-primary" href="https://twitter.com/KipponDream"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
        </div> <!-- container-fluid -->
      </div> <!-- row-->


    <div class="mentions">
      <p>Mentions légales <br />
        Kippon Dream 2016</p>
    </div>
  </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
